
<div class=" bg-gradient-to-r from-green-300 to-green-300 w-90 h-screen" >
    <div class="flex items-stretch">
        <div class=" px-12 py-4 w-80 h-screen bg-rose-400">
            <h6 class="py-4 text-center text-2xl font-bold">Bienvenidos a</h6>
            <div class="px-12">
            <img  src="https://peru.vielco.com/img/vielcostore-logo-1551383268.jpg">
            </div>
            <div class="h-56 grid grid-cols-1 gap-4 content-between ">
            <div class="pt-10 ">
                <button  routerLink="/menu" class=" w-60 h-10 bg-zinc-300 text-center cursor-pointer rounded-lg font-medium hover:bg-cyan-600 active:bg-cyan-700 focus:outline-none focus:ring focus:ring-cyan-300 " >Inicio</button>
            </div>
            <div class="pt-3">
                <button class=" w-60 h-10  bg-zinc-300 text-center cursor-pointer rounded-lg font-medium hover:bg-cyan-600 active:bg-cyan-700 focus:outline-none focus:ring focus:ring-cyan-300 ">
                    Pedidos </button>
            </div>
            <div class="pt-3" >
                <button class=" w-60 h-10  bg-zinc-300 text-center cursor-pointe rounded-lg font-medium hover:bg-cyan-600 active:bg-cyan-700 focus:outline-none focus:ring focus:ring-cyan-300 ">
                    Inventario </button>
            </div>
            <div  class="pt-3">
                <button  routerLink="/empleadorrhh"  class=" w-60 h-10  bg-zinc-300 text-center cursor-pointer rounded-lg font-medium hover:bg-cyan-600 active:bg-cyan-700 focus:outline-none focus:ring focus:ring-cyan-300 ">
                    Catalogo </button>
            </div>
            <div  class="pt-32">
                <button routerLink="/login"  class=" w-60 h-10  bg-zinc-300 text-center  cursor-pointer rounded-lg font-medium hover:bg-cyan-600 active:bg-cyan-700 focus:outline-none focus:ring focus:ring-cyan-300 ">
                    Salir</button>
            </div>
            </div> 
        </div>

            <div class=" px-12  w-2/3 absolute inset-y-20 right-32 ">
            <div class="container 2xl  bg-white h-24  border-solid border-2 border-slate-900">
            
                <h6 class="pl-8 font-bold ">
                VISIÓN VIELCO   
                </h6 >
                    <p class="pl-8">
                    Llegar a ser el proveedor integral Nº1 del mercado de 
                    soluciones en generación y energía, líderes en calidad de servicio.
                </p>

                        
                        
            </div>  

            </div>

            <div class=" px-12  w-2/3 absolute inset-y-48 right-32">
            <div class="container 2xl  bg-white h-24  border-solid border-2 border-slate-900">
                <h6 class="pl-8 font-bold">
                    MISIÓN VIELCO   
                    </h6>
                        <p class="pl-8">
                        Ser especialistas multi marca en soluciones de 
                        generación y energía, con un servicio técnico integral, 24/7 de cobertura regional.
                        </p>

                        
                        
                </div>  

            </div>

            <div class="h-12 grid grid-cols-2 gap-4 content-start pt-4">
                <div class="px-24  w-96  absolute inset-y-72 left-96 pt-8 ">
                        <img src="https://vielco.com/wp-content/uploads/2021/06/SucTalca-1024x768.jpg">
                </div>
                
                <div>
                    <div class=" w-72  absolute inset-y-72 right-72 pt-10">
                        <div class="container 2xl  bg-white h-24  border-solid border-2 border-slate-900">
                            <h6 class="pl-8 font-bold">
                                VALORES VIELCO   
                                </h6 >
                                <div class="pl-8 ">
                                    -Servicios al cliente
                                            </div>
                                <div class="pl-8">
                                -Respeto por la persona
                                        </div>
                                <div class="pl-8">
                                    -Busqueda de la Excelencia
                                        </div>
                                    

                                    
                                    
                            </div>  
            
                        </div>
                </div>


            
            </div>
    </div>
</div>

  
<!--Primera modificacion en inicio.html-->