
<div class="flex h-screen">
    <!-- Barra de navegación vertical -->
    <aside class="bg-rose-400 text-white w-1/4">
    <div class="p-4">
        <h1 class="text-center text-3xl font-bold">Bievenidos a </h1>
    </div>
    <div class="flex justify-center">
        <img  src="https://peru.vielco.com/img/vielcostore-logo-1551383268.jpg">
    </div>
    <nav class="py-4">
        <ul class="space-y-2">
        <li>
            <a href="#"class="text-center text-2xl block px-4 py-2 hover:bg-gray-700">Inicio</a>
        </li>
        <li>
            <a class="text-center block  text-2xl px-4 py-2 hover:bg-gray-700">Productos</a>
        </li>
        <li>
            <a class="text-center block text-2xl px-4 py-2 hover:bg-gray-700">Pedidos</a>
        </li>
        <li>
            <a class="text-center block text-2xl px-4 py-2 hover:bg-gray-700">Contacto</a>
        </li>
        </ul>
    </nav>
    </aside>
      <!-- Contenido principal -->
    <main class="flex-1 gap-4 p-6 bg-gradient-to-r from-green-300 to-green-300">
        <h1 class="text-3xl font-bold mb-4">Contenido Principal</h1>
        <p>Aquí se mostrará el contenido principal de la página.</p>
        <div class="flex justify-center">
            <button class="bg-blue-500 text-white font-medium rounded-lg py-2 px-4 mx-4 hover:bg-blue-600">Agregar Producto</button>
            <button class="bg-blue-500 text-white font-medium rounded-lg py-2 px-4 mx-4 hover:bg-blue-600">Modificar Producto</button>
            <button class="bg-blue-500 text-white font-medium rounded-lg py-2 px-4 mx-4 hover:bg-blue-600">Eliminar Producto</button>
        </div>
        <div class="max-w-2xl mx-auto bg-white shadow-md p-6 rounded-lg mt-20">
            <h2 class="text-2xl font-bold mb-4">Especificaciones del Producto</h2>
            <ul class="space-y-4">
              <li>
                <strong>Nombre:</strong> Producto ABC
              </li>
              <li>
                <strong>Código:</strong> ABC123
              </li>
              <li>
                <strong>Precio:</strong> $99.99
              </li>
              <li>
                <strong>Color:</strong> Azul
              </li>
              <li>
                <strong>Tamaño:</strong> L
              </li>
              <li>
                <strong>Material:</strong> Algodón
              </li>
            </ul>
          </div>
    </main>
</div>

