<div>
    <div class=" bg-gradient-to-r from-green-400 to-blue-500 w-90 h-screen" >
        <div class="container container mx-auto px-4 ">
            <div class="flex flex-col 4 "> 
        <div class="text-center text-4xl">
            <h6>Agregar Nuevo Producto</h6>
        </div>
        <div >
        <div class="h-56 grid grid-cols-3 gap-4 content-start">
            <div class="text-center" >
                <p class="text-lg" >Codigo </p>
                    <input type="text" name="codigo" class="rounded-lg h-10 w-80">
            </div>
            <div class="text-center">
                <p class="text-lg">Ingrese el nombre </p>
                <input type="text" name="nombre" class="rounded-lg h-10 w-80">
            </div>
            <div class="text-center">
                <p class="text-lg" >Stock </p>
                <input type="number" name="stock" class="rounded-lg h-10 w-80">
            </div >
            <div class="text-center">
                <p class="text-lg" >Precio </p>
                <input type="number" name="precio" class="rounded-lg h-10 w-80">
            </div >
            <div class="text-center">
                <p class="text-lg" >Alternador </p>
                <input type="text" name="alternador" class="rounded-lg h-10 w-80">
            </div >
            <div class="text-center">
                <p class="text-lg" >Modulo </p>
                <input type="text" name="modulo" class="rounded-lg h-10 w-80">
            </div >
            <div class="text-center">
                <p class="text-lg" >Tipo de Motor </p>
                <input type="text" name="tipo_motor" class="rounded-lg h-10 w-80">
            </div >
            <div class="text-center">
                <p class="text-lg" >Cantidad de Voltaje </p>
                <input type="number" name="cantidad_Voltaje"  class="rounded-lg h-10 w-80">
            </div >
            <div class="text-center">
                <p class="text-lg" >Tipo de Voltaje </p>
                <input type="text" name="tipo_voltaje" class="rounded-lg h-10 w-80">
            </div >
            <div class="text-center">
                <p class="text-lg" >RPM </p>
                <input type="number" name="rpm" class="rounded-lg h-10 w-80">
            </div > 
            <div class="text-center">
                <p class="text-lg" >Frecuencia </p>
                <input type="number" name="frecuencia" class="rounded-lg h-10 w-80">
            </div >
            <div class="text-center">
                <p class="text-lg" >Autonomia 75  </p>
                <input type="number" name="autonomia_75" class="rounded-lg h-10 w-80">
            </div >
            <div class="text-center">
                <p class="text-lg" >Combustible  </p>
                <input type="text" name="combustible" class="rounded-lg h-10 w-80">
            </div >
            <div class="text-center">
                <p class="text-lg" >Potencia StandBy  </p>
                <input type="number" name="potencia_stby" class="rounded-lg h-10 w-80">
            </div >
            <div class="text-center">
                <p class="text-lg" >Potencia Prime  </p>
                <input type="number" name="potencia_prime" class="rounded-lg h-10 w-80">
            </div >
            <div class="text-center">
                <p class="text-lg" >Tipo Categoria(opcional)  </p>
                <input type="text" name="tipo_categoria" class="rounded-lg h-10 w-80">
            </div >
            <div class="flex justify-center h-48 flex flex-wrap content-center flex flex-col 3" >
                <button class="w-36 text-white bg-green-600 hover:bg-yellow-500 cursor-pointer text-center rounded" >
                    <p class="text-2xl">
                        Agregar
                    </p>
                </button>
            
                </div>
        </div>
        
        <div>
            
        </div>
            <div>
            </div>
        </div>
        </div>
        </div>
    
    </div>

</div>


